---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Connaissances" />
		<p>
			J'ai appris à utiliser plusieurs languages de programmations Frontend et Backend au cours de ma formation en alternance tel que le PHP, Java, XAML ou le C#.
			Cet apprentissage personnel et en formation m'a permis d'acquérir des bases solides dans ces languages. 
			Ce qui me permet aujourd'hui d'être autonome dans leur utilisation. Par ailleurs, j'ai eu l'occasion de travailler avec GitLab ou Redmine.
		</p>
	</div>
</section>
