---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://cdn-icons-png.flaticon.com/512/5013/5013841.png"
			alt="Logo études"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Mes études" />
			<p class="about__text">
				Je suis actuellement en alternance avec l'école 3ifa et l'entreprise MTB111. 
				Et ce dans le but d'obtenir mon BTS SIO option SLAM. Je suis depuis toujours passionnée par l'informatique du fait que ceci représente des possibilités 
				sans limite de création, si ce n'est notre imagination !
				<br><br>
				<strong>Qui est MTB111 ?</strong>
				<br><br>
				MTB111 est une PME possédant environ 90 employés répartis entre Paris et L'Aigle, 
				cette entreprise offre des services de programmation pour des clients à leur demande ou, en vendant une/des applications réalisées en interne.


			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
