---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="mathys">
	<div class="terminal__skills">
		<h2>Mes compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/html.svg"
				color="#7738ff"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/css.svg"
				color="#FF4747"
				name="CSS"
			/>
			<TerminalIcon
				src="/assets/xaml.svg"
				color="#00D1FF"
				name="XAML"
			/>
			<TerminalIcon 
				src="/assets/javascript.svg" 
				color="#F3CBC2" 
				name="JavaScript"
			/>
			<TerminalIcon 
				src="/assets/csharp.svg" 
				color="#00A3FF" 
				name="Csharp" 
			/>
			<TerminalIcon
				src="/assets/python.svg"
				color="#3F75FF"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/java.svg"
				color="#3F75FF"
				name="Java"
			/>
			<TerminalIcon
				src="/assets/php.svg"
				color="#3F75FF"
				name="PHP"
			/>
			<TerminalIcon
				src="/assets/sql.svg"
				color="#3F75FF"
				name="SQL"
			/>
			<TerminalIcon
				src="/assets/gitlab.svg"
				color="#3F75FF"
				name="GitLab"
			/>
		</div>
	</div>
</Terminal>
